[Unit]
Description=Caspar Water Gateway Collector
After=network.target

[Service]
Type=simple
Restart=always
StartLimitIntervalSec=0
RestartSec=5
ExecStart=/home/jmacd/bin/collector.sh --config /home/jmacd/etc/config.yaml

[Install]
WantedBy=multi-user.target
