[Unit]
Description=Caspar Water Pressure Kit
After=network.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/debian/monitor
ExecStart=/bin/bash -c '/home/debian/monitor/build/presskit --config /home/debian/monitor/config.yaml'

[Install]
WantedBy=multi-user.target
