[Unit]
Description=Caspar Water Collector
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=/home/jmacd/bin/collector "--config /home/jmacd/src/caspar.water/collector/config.yaml"

[Install]
WantedBy=multi-user.target
