[Unit]
Description=Update native Watertown package for %i
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
Environment=HOME=/home/jmacd
ExecStart=/home/jmacd/watertown/config/scripts/update-selfmon.sh %i
