[Unit]
Description=DuckPond %i
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/home/jmacd/duckpond/config/scripts/run.sh %i
Environment=HOME=/home/jmacd
